body {
    background-color: lightcoral;
    color: cyan;
}

.navbar-container {
    display: flex;    
    align-items: center;
    justify-content: center;
    column-gap: 240px;
    margin-bottom: 42px;
}


.container-element {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    outline: 2px solid coral; 
    justify-content: stretch;
}

.container-element-child {
    background-color: darkCyan;
    height: 100px;
    width: 100px;
    outline: 2px solid cyan;
}


.create-new-grid-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.form-creation-container {
    width: 200px;
    height: 250px;
    background-color: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

.sketch-container {
    height: 10000px;
}

#error_sides {
    color: red;
    display: none;
}

.paintBrushes > input {
    width: 100px;
    border-radius: 100%;
    height: 100px;
    border: none;
    outline: none;
}

::-webkit-color-swatch {
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: none;
}









