@font-face {
    font-family: "SuperClean";
    src: url("../CleanEasy.ttf");
}


body {
    background-color: lightcoral;
    color: cyan;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}




.grid-container {
    background-color: black;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden; 
}

h2 {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 80px;
    font-family: "SuperClean";
    margin-bottom: 2px;
    vertical-align: top;
}

.navbar-container {
    display: grid; 
    align-items: center;
    justify-content: center;
    column-gap: 240px;
    margin-bottom: 42px;
}

.buttons-container {
    display: flex;
    height: 100px;
    align-items: flex-end;
}


.container-element {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    outline: 2px solid black; 
    justify-content: stretch;
}

.container-element-child {
    background-color: rgb(232, 232, 232);
    outline: 2px solid black;
    height: 30px;
    width: 30px;
}

.create-new-grid-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blur-out-background {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: none;
}

.form-creation-container {
    width: 290px;
    height: 340px;
    background-color: cyan;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display: none;
    z-index: 0;
    border: 8px solid black;
    border-radius: 3.1px;
    padding: 40px;
    padding-bottom: 0;
    padding-top: 45px;
}



#numberOfSides {
    width: 100px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
}

#gridCreate {
    display: grid;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
}

#numberOfSidesLabel {
    font-size: 25px;
    font-family: "Kanit";
    letter-spacing: 2px;
    

}

.sketch-container {
    height: 5000px;
}

.paintBrushes {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#error_sides {
    color: red;
    display: none;
}

.paintBrushes h2 {
    grid-area: chooseColor;
    text-align: center;
    margin-bottom: 12px;
}

.colorsContainer {
    display: flex;
    column-gap: 9px;
}

.color {
    height: 50px;
    width: 50px;
    outline: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color h3 {
    color: black;
    font-size: 62px;
    font-family: "SuperClean";
}

#color1 {
    outline: 3px solid white;
}

.color:hover {
    outline: 3px solid white !important;
    cursor: pointer;
}

#eraser {
    background-image: url("../imgs/clean-code.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: silver;
    color: white;
}

#eraser h3 {
    font-size: 46px;
}

.paintBrushes > input {
    width: 100px;
    border-radius: 100%;
    height: 100px;
    border: none;
    outline: none;
}

::-webkit-color-swatch {
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: none;
}

#chooseColor:hover {
    outline: 3.1px solid black;
    cursor: pointer;
}

.buttons-container > button {
    margin-right: 20px;
}

button, input[type=submit] {
    background-color: cyan;
    border: none;
    padding: 12px;
    outline: none;
    letter-spacing: 0px;
    font-size: 16px;
    color: black;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: "Kanit";
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 150px;
    margin: auto;
    margin-top: 50px;
}

input[type=submit]:hover {
    outline: 3px solid white;
    cursor: pointer;
}



button:hover {
    cursor: pointer;
    outline: 3.1px solid black;
}










